<!-- prettier-ignore -->
<%_
_%>

<!-- テキスト（カナ名前） -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item">
  <div class="p-contact__form--title"><label for="name-kana" class="p-contact__form--title-text">フリガナ</label> <span class="p-contact__form--require">必須</span></div>
  <div class="p-contact__form--input">
    <span class="wpcf7-form-control-wrap" data-name="name-kana"
      ><input
        size="40"
        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required reserve__form--input js-kana"
        id="name-kana"
        aria-required="true"
        aria-invalid="false"
        placeholder="ヤマダ　タロウ"
        value=""
        type="text"
        name="name-kana"
        required="required"
    /></span>
    <div class="error-message"></div>
  </div>
</div>
