<!-- prettier-ignore -->
<%_
_%>

<!-- 日付 -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item p-contact__form--item-date">
  <div class="p-contact__form--title"><label for="date1" class="p-contact__form--title-text">希望日</label></div>
  <div class="p-contact__form--date-wrapper">
    <span class="wpcf7-form-control-wrap" data-name="Preferred-date1"
      ><input
        class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date p-contact__form--input p-contact__form--input-date"
        id="Preferred-date1"
        aria-invalid="false"
        placeholder="年 / 月 / 日"
        value=""
        type="date"
        name="Preferred-date1"
    /></span>
    <span class="wpcf7-form-control-wrap" data-name="Preferred-date2"
      ><input
        class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date p-contact__form--input p-contact__form--input-date"
        id="Preferred-date2"
        aria-invalid="false"
        placeholder="年 / 月 / 日"
        value=""
        type="date"
        name="Preferred-date2"
    /></span>
    <span class="wpcf7-form-control-wrap" data-name="Preferred-date3"
      ><input
        class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date p-contact__form--input p-contact__form--input-date"
        id="Preferred-date3"
        aria-invalid="false"
        placeholder="年 / 月 / 日"
        value=""
        type="date"
        name="Preferred-date3"
    /></span>
  </div>
</div>
