<!-- prettier-ignore -->
<%_
_%>

<!-- チェックボックス -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item p-contact__form--item-privacy">
  <label class="p-contact__form--title p-contact__wrapper-privacy js-form--wrapper">
    <input class="js-checkbox" type="checkbox" name="entry.2114229630" value="プライバシーポリシーに合意する" required aria-label="プライバシーポリシーに合意する" />
    <span>
      <a href="./policy.html" target="_blank""> プライバシーポリシー </a>
      に合意する
    </span>
    <span class="p-contact__form--require">必須</span>
  </label>
  <div class="error-message"></div>

</div>
