<!-- prettier-ignore -->
<%_
_%>

<!-- チェックボックス -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item reserve__form--item-checkbox">
  <div class="p-contact__form--title">
    <div class="p-contact__form--title-text reserve__form--title-text-checkbox">
      <div class="p-contact__form--title-text-top">診療内容</div>
      <div class="p-contact__form--title-text-bottom">※(複数選択可)</div>
    </div>
    <span class="p-contact__form--require">必須</span>
  </div>
  <div class="p-contact__form--input">
    <span class="wpcf7-form-control-wrap" data-name="checkbox-button"
      ><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required p-contact__form--checkbox-wrapper js-checkbox" id="checkbox-button" required="required"
        ><span class="wpcf7-list-item first"
          ><label><input type="checkbox" name="checkbox-button[]" value="虫歯" /><span class="wpcf7-list-item-label">虫歯</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="被せ物がとれた" /><span class="wpcf7-list-item-label">被せ物がとれた</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="矯正歯科" /><span class="wpcf7-list-item-label">矯正歯科</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="咬み合わせ" /><span class="wpcf7-list-item-label">咬み合わせ</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="歯周病" /><span class="wpcf7-list-item-label">歯周病</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="小児歯科" /><span class="wpcf7-list-item-label">小児歯科</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="入れ歯" /><span class="wpcf7-list-item-label">入れ歯</span></label></span
        ><span class="wpcf7-list-item"
          ><label><input type="checkbox" name="checkbox-button[]" value="インプラント" /><span class="wpcf7-list-item-label">インプラント</span></label></span
        ><span class="wpcf7-list-item last"
          ><label><input type="checkbox" name="checkbox-button[]" value="その他" /><span class="wpcf7-list-item-label">その他</span></label></span
        ></span
      ></span
    >
    <div class="error-message"></div>
  </div>
</div>
