<!-- prettier-ignore -->
<%_
_%>

<!-- テキストアリア -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item reserve__form--item-textarea">
  <div class="p-contact__form--title">
    <label for="message" class="p-contact__form--title-text"> お問い合わせ内容 </label>
    <span class="p-contact__form--require">必須</span>
  </div>
  <div class="p-contact__form--input">
    <textarea class="js-text" id="your-message" placeholder="お問い合わせ内容をご入力ください。3営業日以内にご返信いたします。" name="entry.1269014493" required></textarea>
    <div class="error-message"></div>
  </div>
</div>
