<!-- prettier-ignore -->
<%_
_%>

<!-- 送信ボタン -->
<button id="js-submit" class="c-btn p-contact__btn" type="submit">上記の内容を送信する</button>
<!-- wordPress化する時は以下に置換えられる（CONTACT7用） -->
<!-- <input class="wpcf7-form-control wpcf7-submit has-spinner js-submit button contact__button" id="js-submit" type="submit" value="送信" disabled="" /> -->
