<!-- prettier-ignore -->
<%_
_%>

<!-- メールアドレス -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item">
  <div class="p-contact__form--title">
    <label for="email" class="p-contact__form--title-text">メールアドレス</label>
    <span class="p-contact__form--require">必須</span>
  </div>
  <div class="p-contact__form--input">
    <input class="js-mail" type="email" id="your-email" placeholder="info@example.com" name="emailAddress" required />
    <div class="error-message"></div>
  </div>
</div>
