<!-- prettier-ignore -->
<%_
_%>

<!-- セレクトボックス -->
<!-- wordPress化する時はinputタグをCONTACT7用に置換える -->
<div class="p-contact__form--item p-contact__form--item-selectbox">
  <div class="p-contact__form--title"><label for="selectbox" class="p-contact__form--title-text">ご連絡方法</label> <span class="p-contact__form--require">必須</span></div>
  <div class="p-contact__form--input">
    <span class="wpcf7-form-control-wrap" data-name="select-menu"
      ><select
        class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required p-contact__form--selectbox-wrapper js-select"
        id="selectbox"
        aria-required="true"
        aria-invalid="false"
        name="select-menu"
        required="required"
      >
        <option value="ご連絡方法を選択ください。">ご連絡方法を選択ください。</option>
        <option value="メール">メール</option>
        <option value="電話">電話</option>
        <option value="FAX">FAX</option>
      </select></span
    >
    <div class="error-message"></div>
  </div>
</div>
