<div class="p-contact__form--item">
  <div class="p-contact__form--title">
    <label for="your-name" class="p-contact__form--title-text">お名前</label>
    <span class="p-contact__form--require">必須</span>
  </div>
  <div class="p-contact__form--input">
    <input class="js-text" type="text" id="your-name" placeholder="山田太郎" name="entry.530212225" required />
    <div class="error-message"></div>
  </div>
</div>
