<!-- prettier-ignore -->
<%_
_%>

<section id="about" class="l-section p-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">About</h2>
      <p class="p-section__title--sub">私について</p>
    </hgroup>

    <div class="p-section__contents p-about__contents">
      <div class="p-about__container">
        <div class="p-about__text--contents">
          <div class="p-about__text--main intro-text">
            ポートフォリオをご覧頂き、ありがとうございます。
            <br />
            お客様のご要望に合わせて<strong class="color-accent">最適なサイト</strong>を制作いたします。
            <br />
            ご満足いただけるサイトを提供できるよう<strong class="color-accent">修正についても柔軟に対応</strong>させていただきます。
            <br />
            一度きりのお仕事のお付き合いだけではなく、<strong class="color-accent">継続的に信頼し合える</strong>お付き合いをさせていただけると嬉しいです。
          </div>
          <div class="p-about__text--sub schedule-text">
            <div class="p-about__text--sub-title">稼働時間</div>
            <div class="p-about__text--sub-message">
              平　日：
              <strong class="color-accent"> 4時間 </strong>
              対応可能です（5:00〜7:00、19:00〜21:00）
            </div>
            <div class="p-about__text--sub-message">
              土日祝：
              <strong class="color-accent"> 16時間 </strong>
              対応可能です（5:00〜21:00）
            </div>
          </div>
        </div>
        <div class="p-about__img">
          <img src="./assets/img/pumi.webp" alt="プミ画像" />
        </div>
      </div>
    </div>
  </div>
</section>
