<!-- prettier-ignore -->
<%_
_%>

<div class="l-first-view p-first-view">
  <div class="p-first-view__container">
    <!-- work -->
    <%- include("../parts/_works",{ path:".", }) -%>
    <!-- skills -->
    <%- include("../parts/_skills",{ path:".", }) -%>
  </div>
</div>
