<!-- prettier-ignore -->
<%_
_%>

<footer class="p-footer">
  <div class="l-inner">
    <div class="p-footer__contents">
      <small class="p-footer__copyright">&copy;Pumi's Portfolio All rights reserved.</small>
    </div>
  </div>
</footer>
