<!-- prettier-ignore -->
<%_
const works = [ 
];
_%>

<!-- privacy-policy -->
<div class="p-privacy-policy">
  <div class="p-privacy-policy__head">
    <h2 class="p-privacy-policy__title">プライバシー <br class="u-hidden-pc" />ポリシー</h2>
    <div class="p-privacy-policy__content">本ポートフォリオサイト（以下 当サイト）では、個人情報の取り扱いについて下記の様に定めます。</div>
  </div>
  <div class="p-privacy-policy__body">
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">1. 個人情報の取得</h2>
      <p class="p-privacy-policy__text">当サイトでは、ユーザーの皆様の個人情報（氏名、住所、メールアドレス、電話番号などを個人で特定できる情報）を取得させていただく事があります。</p>
    </div>
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">2. 個人情報の利用</h2>
      <p class="p-privacy-policy__text">取得した個人情報は以下の目的で使用致します。</p>
      <ul>
        <li class="p-privacy-policy__detail">お客様からのお問い合わせに対する回答送付</li>
        <li class="p-privacy-policy__detail">資料を送付する際などでの本人確認</li>
        <li class="p-privacy-policy__detail">当サイトのサービスに関するご案内</li>
        <li class="p-privacy-policy__detail">当サイトのサービスの変更、提供中止、終了等のご連絡</li>
        <li class="p-privacy-policy__detail">市場分析およびマーケティング</li>
        <li class="p-privacy-policy__detail">広告配信、表示および効果測定</li>
        <li class="p-privacy-policy__detail">当サイトのサービス提供、維持、保護および改善の為に必要な場合</li>
      </ul>
    </div>
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">3. 個人情報の安全管理</h2>
      <p class="p-privacy-policy__text">当サイトでは取得した個人情報について適切な管理に努めるとともに個人情報の漏洩、改ざん、不正な侵入の防止に努めます。</p>
    </div>
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">4. 第3者への開示/提供の禁止</h2>
      <p class="p-privacy-policy__text">当サイトではお客様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第3者に開示致しません。</p>
      <ul>
        <li class="p-privacy-policy__detail">法律上、照会権限を有する者から書面による正式な協力要請、照会があった場合</li>
        <li class="p-privacy-policy__detail">お客様の同意があった場合</li>
        <li class="p-privacy-policy__detail">当サイトのサービスに関するご案内</li>
        <li class="p-privacy-policy__detail">事業パートナーと共同利用する場合</li>
        <li class="p-privacy-policy__text">※具体的な共同利用がある場合には別途ご連絡させて頂きます。</li>
      </ul>
    </div>
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">5. 個人情報に関するお問い合わせ</h2>
      <p class="p-privacy-policy__text">個人情報に関するお問い合わせは以下までお願いします。</p>
      <p class="p-privacy-policy__text">
        <a href="mailto:pumi.Webdesigner@gmail.com">pumi.Webdesigner@gmail.com</a>
      </p>
    </div>
    <div class="p-privacy-policy__box">
      <h2 class="p-privacy-policy__title-sub">6. 改変と見直しについて</h2>
      <p class="p-privacy-policy__text">個人情報について、法令変更など発生した際は随時見直しを行います。</p>
    </div>
    <div class="p-privacy-policy__submit">
      <button class="c-btn p-privacy-policy__btn js-closeBtn">閉じる</button>
    </div>
  </div>
</div>
