@charset "UTF-8";
:root {
  --main: #77f;
  --sub: #cff;
  --font: #333;
  --lightgray: #6c6e6f;
  --accent: #ff8b71;
  --btn-image: linear-gradient(to bottom, #00f, #80f, #808);
  --hov-btn: #45b6f0;
  --gradation: linear-gradient(177deg, #50bfcb -29.45%, rgba(80, 191, 203, 0.42) 127.88%);
  --header-bg-pc: linear-gradient(to bottom, #00f, #80f, #808);
  --header-bg-sp: #00f;
  --drawer-bg-sp: linear-gradient(to bottom, #00f, #80f, #808);
  --drawer-bg-sp: #000;
  --bg-dark: #4a4a4a;
  --clip-triangle-top: polygon(50% 0, 100% 100%, 0 100%);
  --clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
  --clip-triangle-right: polygon(0 0, 100% 50%, 0 100%);
  --clip-triangle-left: polygon(0 50%, 100% 0, 100% 100%);
  --clip-triangle-lower-left: polygon(0 0, 100% 100%, 0 100%);
  --clip-triangle-upper-left: polygon(0 0, 100% 0, 0 100%);
  --clip-triangle-lower-right: polygon(100% 0, 100% 100%, 0 100%);
  --clip-triangle-upper-right: polygon(0 0, 100% 0, 100% 100%);
  --layer-hamburger: 150;
  --layer-drawer: 40;
  --layer-totop: 100;
  --layer-aside: 30;
  --layer-header: 20;
  --layer-footer: 50;
  --layer-default: 1;
  --layer-background: -1;
  --width-pc-comp: 1440;
  --width-tab-comp: 768;
  --width-sp-comp: 390;
  --height-pc-header: 104px;
  --height-sp-header: 80px;
  --height-pc-footer: 80px;
  --height-sp-footer: 70px;
  --padding-pc-comp: 130;
  --padding-tab-comp: 60;
  --padding-sp-comp: 16;
}

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  display: inline-block;
}

.mask {
  content: "";
  position: absolute;
  inset: 0;
  background-color: gray;
}

.accent {
  color: var(--accent);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.l-header {
  position: fixed;
  top: 0;
  height: var(--height-pc-header);
  left: 0;
  width: 100%;
  z-index: var(--layer-header);
}
@media (width <= 767px) {
  .l-header {
    height: var(--height-sp-header);
  }
}

.l-inner {
  width: 100%;
  height: inherit;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 5vw;
}

.l-first-view {
  margin-top: var(--height-pc-header) !important;
}
@media (width <= 767px) {
  .l-first-view {
    margin-top: var(--height-sp-header) !important;
  }
}

.l-section {
  margin-top: 4rem;
  padding-block: 3rem 4rem;
  min-height: 300px;
}

.c-hamburger-btn {
  width: calc(40px + 1em);
  height: 70px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0.5em;
}
.c-hamburger-btn::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  content: "MENU";
}
.drawer-open .c-hamburger-btn::after {
  content: "CLOSE";
}

.c-hamburger-bar {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  margin-inline: auto;
  height: 2px;
  background: white;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.c-hamburger-bar:nth-child(1) {
  top: calc(14px * 1);
}
.c-hamburger-bar:nth-child(2) {
  top: calc(14px * 2);
}
.c-hamburger-bar:nth-child(3) {
  top: calc(14px * 3);
}
.drawer-open .c-hamburger-bar {
  width: 48px;
  top: 28px;
}
.drawer-open .c-hamburger-bar:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(calc(45deg + 90deg * 1));
          transform: translateX(-50%) rotate(calc(45deg + 90deg * 1));
}
.drawer-open .c-hamburger-bar:nth-child(2) {
  -webkit-transform: translateX(-50%) rotate(calc(45deg + 90deg * 2));
          transform: translateX(-50%) rotate(calc(45deg + 90deg * 2));
}
.drawer-open .c-hamburger-bar:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(calc(45deg + 90deg * 3));
          transform: translateX(-50%) rotate(calc(45deg + 90deg * 3));
}

.c-logo {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
  letter-spacing: 0.12em;
  font-size: 30px;
}
@media (width <= 767px) {
  .c-logo {
    font-size: 20px;
  }
}
@media (hover: hover) {
  .c-logo:hover {
    opacity: 0.8;
  }
}

.c-img {
  aspect-ratio: 3/2;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.c-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.c-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

.c-btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 2px solid currentColor;
  border-radius: 2rem;
  background-image: var(--btn-image);
  -webkit-box-shadow: 2px 3px 3px 0px black;
          box-shadow: 2px 3px 3px 0px black;
  width: revert;
  text-align: center;
  color: white;
}
@media (hover: hover) {
  .c-btn:hover {
    opacity: 0.7;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-box-shadow: revert;
            box-shadow: revert;
  }
}

.util-btn--block,
.util-btn--inline-block {
  padding: 4px 22px 6px;
  font-size: 20px;
  color: var(--font);
  text-align: center;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px currentColor;
          box-shadow: 0px 4px 0px 0px currentColor;
}
.util-btn--block:hover,
.util-btn--inline-block:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: var(--hov-btn);
  -webkit-box-shadow: 0px 0px 0px 0px currentColor;
          box-shadow: 0px 0px 0px 0px currentColor;
}

.util-btn--block {
  display: block;
  margin-inline: auto;
  width: 200px;
}

.util-btn--inline-block {
  display: inline-block;
}

.p-header {
  width: 100%;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background: var(--header-bg-pc);
}
@media (width <= 767px) {
  .p-header {
    background: blue;
  }
}

.p-header__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width <= 767px) {
  .p-header__nav {
    display: none;
  }
}

.p-header__nav--item {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 1.5em;
}

.p-header__link {
  padding: 0.2em 1em;
}
@media (hover: hover) {
  .p-header__link:hover {
    opacity: 0.8;
  }
}

@media (768px <= width) {
  .p-header__hamburger--button {
    display: none;
  }
}

.p-footer {
  background: var(--drawer-bg-sp);
}

.p-footer__contents {
  display: grid;
  place-items: center;
  height: var(--height-pc-footer);
}
@media (width <= 767px) {
  .p-footer__contents {
    height: var(--height-sp-footer);
  }
}

.p-footer__copyright {
  color: white;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
}
@media (width <= 767px) {
  .p-footer__copyright {
    font-size: 16px;
  }
}

.p-drawer__nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - var(--height-sp-header));
  top: var(--height-sp-header);
  right: -100%;
  z-index: var(--layer-drawer);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: var(--header-bg-pc);
  padding-inline: 15px;
}
@media (768px <= width) {
  .p-drawer__nav {
    display: none;
  }
}
.drawer-open .p-drawer__nav {
  right: 0;
  text-align: center;
}

.p-drawer__nav--item {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-weight: 400;
}
.p-drawer__nav--item:first-child {
  margin-top: 40px;
}

.p-drawer__link {
  padding: 1em 1em;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
}

.p-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 52px;
  height: 52px;
  z-index: var(--layer-totop);
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
@media (width <= 767px) {
  .p-to-top {
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
.is-scroll .p-to-top {
  pointer-events: auto;
  opacity: 1;
}
.drawer-open .p-to-top {
  opacity: 0;
}
.p-to-top svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dialog__wrapper {
  border: none;
  padding: 2rem;
  width: 90%;
  border-radius: 1.5rem;
}
.dialog__wrapper::-ms-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog__wrapper::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (1024px <= width) {
  .dialog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.dialog__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.dialog__text {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.dialog__text dt {
  margin-top: 1rem;
  font-weight: 700;
}
.dialog__text dd {
  margin-left: 1rem;
  font-weight: 500;
}

.p-section {
  background-color: #fff;
}
.p-section:nth-of-type(2n) {
  background-color: var(--sub);
}

.p-section__title {
  text-align: center;
}

.p-section__title--main {
  letter-spacing: 0.1em;
  font-size: 3rem;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 500;
  display: inline-block;
  padding-inline: 2rem;
  position: relative;
}
@media (width <= 767px) {
  .p-section__title--main {
    font-size: 2rem;
  }
}
.p-section__title--main::before, .p-section__title--main::after {
  content: "-";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: auto;
}
.p-section__title--main::before {
  left: 0;
}
.p-section__title--main::after {
  right: 0;
}

.p-section__title--sub {
  display: block;
  font-size: 1.5rem;
}
@media (width <= 767px) {
  .p-section__title--sub {
    font-size: 1.2rem;
  }
}

.p-section__contents {
  margin-top: 2rem;
  background-color: var(--sub);
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 5%;
}
.p-section:nth-of-type(2n) .p-section__contents {
  background-color: #fff;
}

.p-works__contents {
  padding: 5% 5% 8%;
  position: relative;
}

.p-works__explanation {
  margin-top: 2rem;
  font-size: 1.5rem;
}
@media (width <= 767px) {
  .p-works__explanation {
    padding-inline: 1rem;
  }
}
.p-works__explanation p + p {
  margin-top: 1rem;
}

.p-btn-modal {
  width: 200px;
  font-weight: 700;
  outline: none;
}

.p-modal__buttons {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.p-bg {
  background: url(../img/img_fv.webp) top center/cover no-repeat;
  position: fixed;
  top: var(--height-pc-header);
  height: calc(100vh - var(--height-pc-header));
  right: 0;
  width: 100%;
  z-index: -1;
}
@media (width <= 767px) {
  .p-bg {
    top: var(--height-sp-header);
    height: calc(100vh - var(--height-sp-header));
  }
}

.p-skills__contents {
  max-width: 1000px;
  margin-inline: auto;
}

.p-skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem 2rem;
}

.p-skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background: white;
  padding: 0.5rem;
}

.p-skills__item--img {
  width: 30px;
  aspect-ratio: 1;
  height: auto;
}

.p-skills__item-name {
  display: inline-block;
}

.p-skills__messages {
  padding: 1rem 0.8rem;
}

.p-skills__text--item {
  margin-top: 1rem;
}

.p-skills__text--title-main {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.p-skills__text--title-main li {
  margin-top: 0.5rem;
}

.p-skills__text--title-sub {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
}
.p-skills__text--title-sub::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  background: var(--main);
  -webkit-clip-path: var(--clip-triangle-right);
          clip-path: var(--clip-triangle-right);
}

.p-works__img {
  overflow: hidden;
}

.swiper-pagination {
  bottom: 3% !important;
}

.swiper-pagination-bullet {
  background: #c2c2c2;
  width: 1.5%;
  aspect-ratio: 1;
  height: auto;
  opacity: 0.8;
  margin-inline: 1% !important;
}

.swiper-pagination-bullet-active {
  background: var(--main);
}

.swiper-button-prev,
.swiper-button-next {
  width: 5%;
  aspect-ratio: 1;
  height: auto;
  position: absolute;
}
@media (hover: hover) {
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    opacity: 0.8;
  }
}
.swiper-button-prev::before, .swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
}
.swiper-button-prev::before,
.swiper-button-next::before {
  background-color: rgb(255, 255, 155);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 75%;
  height: 75%;
}

.swiper-button-prev {
  left: 15px;
}
.swiper-button-prev::after {
  background: url(../img/swiper_prev.svg) center center/cover;
}
@media (width <= 767px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: 15px;
}
.swiper-button-next::after {
  background: url(../img/swiper_next.svg) center center/cover;
}
@media (width <= 767px) {
  .swiper-button-next {
    right: 0;
  }
}

.p-about__contents {
  max-width: 1000px;
  margin-inline: auto;
}

.p-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1280px) {
  .p-about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 3rem;
    gap: revert;
  }
}

.p-about__img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  aspect-ratio: 1;
  height: auto;
  width: 30vw;
}
@media screen and (max-width: 1280px) {
  .p-about__img {
    width: 70vw;
    max-width: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .p-about__text--contents {
    width: revert;
    padding: 2rem;
  }
}

.p-about__text--main {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.p-about__text--sub-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.p-about__text--sub-message {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
}
.p-about__text--sub-message::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  background: var(--main);
  -webkit-clip-path: var(--clip-triangle-right);
          clip-path: var(--clip-triangle-right);
}

.p-contact {
  background: #fff;
  text-align: center;
}

.contact__message {
  margin-top: 24px;
  font-size: 12px;
  line-height: 160%;
}
@media (1024px <= width) {
  .contact__message {
    font-size: 16px;
    margin-top: 32px;
  }
}

.contact__fields {
  max-width: 900px;
  margin-inline: auto;
  margin-top: 24px;
}
@media (1024px <= width) {
  .contact__fields {
    margin-top: 38px;
  }
}

.p-contact__form {
  margin-block: 4rem;
}

.p-contact__form--item {
  text-align: left;
  padding-top: 28px;
  padding-bottom: 27.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #ddd solid 1px;
}
.p-contact__form--item:first-child {
  border-top: #ddd solid 1px;
}
@media (width <= 767px) {
  .p-contact__form--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: revert;
        -ms-flex-align: revert;
            align-items: revert;
  }
}
@media (width <= 767px) {
  .p-contact__form--item {
    padding-top: 25px;
    padding-bottom: 23.5px;
    gap: 12px;
  }
}

.p-contact__form--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}
@media (width <= 767px) {
  .p-contact__form--title {
    gap: 12px;
    -webkit-box-flex: revert;
        -ms-flex: revert;
            flex: revert;
  }
}

.p-contact__form--title-text {
  font-size: 1rem;
  font-weight: 500;
  display: grid;
  place-items: center;
}

.p-contact__form--require {
  background-color: var(--accent);
  width: 36px;
  height: 23px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  display: grid;
  place-items: center;
}
@media (width <= 767px) {
  .p-contact__form--require {
    padding-top: 3px;
  }
}

.p-contact__form--input,
.p-contact__form--selectbox-wrapper,
.p-contact__form--date-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-contact__form--item-radio {
  padding-top: 41px;
  padding-bottom: 40px;
}
@media (width <= 767px) {
  .p-contact__form--item-radio {
    padding-top: 25px;
    padding-bottom: 28px;
  }
  .p-contact__form--item-radio .p-contact__form--require {
    margin-left: 4px;
  }
}

.p-contact__form--radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width <= 767px) {
  .p-contact__form--radio-wrapper {
    margin-top: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: revert;
        -ms-flex-align: revert;
            align-items: revert;
  }
}

.p-contact__form--item-checkbox {
  padding-top: 31px;
  padding-bottom: 23px;
}
.p-contact__form--item-checkbox .p-contact__form--require {
  margin-top: -20px;
}
@media (width <= 767px) {
  .p-contact__form--item-checkbox {
    padding-top: 27px;
    padding-bottom: 28px;
  }
  .p-contact__form--item-checkbox .p-contact__form--require {
    margin-left: 4px;
  }
}

.p-contact__form--title-text-top {
  font-size: 1rem;
  font-weight: 500;
}

.p-contact__form--title-text-bottom {
  margin-top: 6px;
  font-size: 0.6875rem;
  font-weight: 500;
  color: #888;
}

.p-contact__form--checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (width <= 767px) {
  .p-contact__form--checkbox-wrapper {
    margin-top: 14px;
    gap: 24px;
  }
}

@media (width <= 767px) {
  .p-contact__form--item-selectbox .p-contact__form--require {
    margin-left: 4px;
  }
}

.p-contact__form--item-date {
  padding-top: 27px;
}

.p-contact__form--date-wrapper {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (width <= 767px) {
  .p-contact__form--item-textarea {
    padding-top: 27px;
    padding-bottom: 26px;
  }
}

.p-contact__form--item-privacy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.p-contact__wrapper-privacy {
  -webkit-box-flex: revert;
      -ms-flex: revert;
          flex: revert;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-contact__btn {
  margin-top: 2rem;
}
.p-contact__btn:disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #ccc;
  background-image: revert;
}
@media (hover: hover) {
  .p-contact__btn:disabled:hover, .p-contact__btn:disabled:focus {
    background-color: #ccc;
    -webkit-transform: revert;
            transform: revert;
    -webkit-box-shadow: 0px 4px 0px 0px currentColor;
            box-shadow: 0px 4px 0px 0px currentColor;
  }
}

.p-contact__message--success,
.p-contact__message--error {
  margin-top: 2rem;
  text-align: center;
  display: none;
  background: #fff;
  padding: contact 20px;
  font-size: 24px;
}

.p-contact__message--success {
  color: blue;
}

.p-contact__message--error {
  color: var(--accent);
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #f6f6f6;
  width: 100%;
  padding: 14px 15px;
  font-family: inherit;
  color: var(--font);
  text-align: left;
}
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=date]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, input[type=date]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
input[type=date]::placeholder,
select::placeholder,
textarea::placeholder {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 500;
}
input[type=text]:hover, input[type=text]:focus, input[type=text]:active,
input[type=email]:hover,
input[type=email]:focus,
input[type=email]:active,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=tel]:active,
input[type=date]:hover,
input[type=date]:focus,
input[type=date]:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active {
  border-color: var(--main);
}

textarea {
  min-height: 200px;
  resize: vertical;
}
@media (width <= 767px) {
  textarea {
    min-height: 160px;
  }
}

input[type=radio],
input[type=checkbox] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
input[type=radio] + span,
input[type=checkbox] + span {
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
input[type=radio] + span::before,
input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: #f6f6f6;
  border: 1px solid transparent;
}
input[type=radio] + span::after,
input[type=checkbox] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6px;
  opacity: 0;
}
input[type=radio]:hover + span::before, input[type=radio]:focus + span::before, input[type=radio]:active + span::before, input[type=radio]:checked + span::before,
input[type=checkbox]:hover + span::before,
input[type=checkbox]:focus + span::before,
input[type=checkbox]:active + span::before,
input[type=checkbox]:checked + span::before {
  border-color: var(--main);
}
input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
  opacity: 1;
}

input[type=radio] + span::before {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
input[type=radio] + span::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--main);
}

input[type=checkbox] + span::before {
  width: 24px;
  height: 24px;
}
input[type=checkbox] + span::after {
  width: 13px;
  height: 8px;
  border-bottom: solid 2px var(--main);
  border-left: solid 2px var(--main);
  -webkit-transform: translateY(-70%) rotate(-45deg);
          transform: translateY(-70%) rotate(-45deg);
}

select {
  background: #f6f6f6 url(../img/select-arrow.svg) no-repeat right 12px center;
}
@media (width <= 767px) {
  select {
    background-position: right 9px center;
  }
}

input[type=date] {
  padding: 14px 16px;
  background: #f6f6f6 url(../img/icon-calender.svg) no-repeat right 12px center;
  position: relative;
}
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (width <= 767px) {
  input[type=date] {
    background-position: right 9px center;
  }
}
.firefox input[type=date] {
  background: revert;
}

input[type=date]::-webkit-datetime-edit-fields-wrapper {
  display: none;
}
input[type=date]::before {
  content: attr(placeholder);
  width: 100%;
  color: #c2c2c2;
}
input[type=date].is-input::-webkit-datetime-edit-fields-wrapper {
  display: revert;
}
input[type=date].is-input::before {
  display: none;
}

.error-message {
  display: none;
  color: var(--accent);
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 8px;
}

.p-privacy-policy {
  padding: 100px 20px;
  background: white;
}
@media (1024px <= width) {
  .p-privacy-policy {
    padding: 100px 40px;
  }
}

.p-privacy-policy__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: center;
}

.p-privacy-policy__content {
  margin-top: 4rem;
}

.p-privacy-policy__body {
  margin-top: 50px;
}

.p-privacy-policy__box {
  margin-top: 30px;
}

.p-privacy-policy__title-sub {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
}

.p-privacy-policy__text {
  margin-top: 10px;
}

.p-privacy-policy__detail {
  list-style: inside;
  margin-left: 1em;
}

.p-privacy-policy__submit {
  margin-top: 30px;
  text-align: center;
}

.p-privacy-policy__btn {
  margin-top: 2rem;
  width: 100%;
  max-width: 200px;
}

.u-separate {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-separeta--header {
  margin-top: var(--height-pc-header);
}
@media (width <= 767px) {
  .u-separeta--header {
    margin-top: var(--height-sp-header);
  }
}

@media (1024px <= width) {
  .u-hidden-pc {
    display: none !important;
  }
}

@media (width <= 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}

.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hover__underline--from-left {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(90deg, white, white);
  background-repeat: no-repeat;
  background-position: left bottom; /* X軸の起点 Y軸の起点 */
  background-size: 0 2px; /* 線の横幅を0、縦幅を1pxに */
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}
.hover__underline--from-left:hover {
  background-size: 100% 2px; /* 線の横幅を100%にする */
}

strong.color-accent {
  color: var(--accent);
}