@use "../global" as *;

.p-about-section {
}
.p-about__contents {
  max-width: 1000px;
  margin-inline: auto;
}
.p-about__container {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1280px) {
    flex-direction: column-reverse;
    margin-top: 3rem;
    gap: revert;
  }
}
.p-about__img {
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  aspect-ratio: 1;
  height: auto;
  width: 30vw;
  @media screen and (max-width: 1280px) {
    width: 70vw;
    max-width: 400px;
  }
}
.p-about__text--contents {
  @media screen and (max-width: 1280px) {
    width: revert;
    padding: 2rem;
  }
}
.p-about__text--main {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.p-about__text--sub-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.p-about__text--sub-message {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0.6rem;
    // 50%;
    left: 0.6rem;
    transform: translateY(-50%);

    width: 0.6rem;
    height: 0.6rem;
    background: var(--main);
    clip-path: var(--clip-triangle-right);
  }
}
