@use "../global" as *;

// contact
.p-contact {
  background: #fff;
  text-align: center;
}

.contact__message {
  margin-top: 24px;
  font-size: 12px;
  line-height: 160%;
  @include mq(pc) {
    font-size: 16px;
    margin-top: 32px;
  }
}

.contact__fields {
  max-width: 900px; //目検で決定
  margin-inline: auto;
  margin-top: 24px;
  @include mq(pc) {
    margin-top: 38px;
  }
}

.p-contact__form {
  margin-block: 4rem;
}

.p-contact__form--item {
  text-align: left;
  padding-top: 28px;
  padding-bottom: 27.5px;
  display: flex;
  gap: 60px;
  align-items: center;
  &:first-child {
    border-top: #ddd solid 1px;
  }
  border-bottom: #ddd solid 1px;
  @include mq(sp) {
    flex-direction: column;
    align-items: revert;
  }
  @include mq(sp) {
    padding-top: 25px;
    padding-bottom: 23.5px;
    gap: 12px;
  }
}
.p-contact__form--title {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 0 0 180px;
  @include mq(sp) {
    gap: 12px;
    flex: revert;
  }
}

.p-contact__form--title-text {
  @include font(16, 500, null, null);
  display: grid;
  place-items: center;
}

.p-contact__form--require {
  background-color: var(--accent);
  width: 36px;
  height: 23px;
  border-radius: 4px;
  white-space: nowrap;
  @include font(12, 700, null, null);
  color: #fff;
  display: grid;
  place-items: center;
  @include mq(sp) {
    padding-top: 3px;
  }
}

.p-contact__form--input,
.p-contact__form--selectbox-wrapper,
.p-contact__form--date-wrapper {
  flex: 1;
}

.p-contact__form--item-radio {
  padding-top: 41px;
  padding-bottom: 40px;
  @include mq(sp) {
    padding-top: 25px;
    padding-bottom: 28px;
    .p-contact__form--require {
      margin-left: 4px;
    }
  }
}
.p-contact__form--radio-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  @include mq(sp) {
    margin-top: 12px;
    flex-direction: column;
    align-items: revert;
  }
}
.p-contact__form--item-checkbox {
  padding-top: 31px;
  padding-bottom: 23px;
  .p-contact__form--require {
    margin-top: -20px;
  }
  @include mq(sp) {
    padding-top: 27px;
    padding-bottom: 28px;
    .p-contact__form--require {
      margin-left: 4px;
    }
  }
}

.p-contact__form--title-text-top {
  @include font(16, 500, null, null);
}
.p-contact__form--title-text-bottom {
  margin-top: 6px;
  @include font(11, 500, null, null);
  color: #888;
}
.p-contact__form--checkbox-wrapper {
  display: flex;
  gap: 24px 32px;
  align-items: center;
  flex-wrap: wrap;
  @include mq(sp) {
    margin-top: 14px;
    gap: 24px;
  }
}
.p-contact__form--item-selectbox {
  @include mq(sp) {
    .p-contact__form--require {
      margin-left: 4px;
    }
  }
}
.p-contact__form--item-date {
  padding-top: 27px;
}
.p-contact__form--date-wrapper {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.p-contact__form--item-textarea {
  @include mq(sp) {
    padding-top: 27px;
    padding-bottom: 26px;
  }
}
.p-contact__form--item-privacy {
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.p-contact__wrapper-privacy {
  flex: revert;
  justify-content: center;
  align-items: center;
  // display: block;
  // position: relative;
  // margin-top: 21px;
  // @include mq(pc) {
  //   margin-top: 42px;
  // }
}

.p-contact__btn {
  margin-top: 2rem;
  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    background-color: #ccc;
    background-image: revert;
    // color: black;
    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #ccc;
        transform: revert;
        box-shadow: 0px 4px 0px 0px currentColor;
      }
    }
  }
}
.p-contact__message--success,
.p-contact__message--error {
  margin-top: 2rem;
  text-align: center;
  display: none;
  background: #fff;
  padding: contact 20px;
  font-size: 24px;
}
.p-contact__message--success {
  color: blue;
}
.p-contact__message--error {
  color: var(--accent);
}
