@use "sass:map";
@use "../global" as *;

.p-section {
  background-color: #fff;
  &:nth-of-type(2n) {
    background-color: var(--sub);
  }
}

.p-section__title {
  text-align: center;
}

.p-section__title--main {
  letter-spacing: 0.1em;
  font-size: 3rem;

  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 500;
  @include mq(sp) {
    font-size: 2rem;
  }
  display: inline-block;
  padding-inline: 2rem;
  position: relative;
  &::before,
  &::after {
    content: "-";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: auto;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.p-section__title--sub {
  display: block;
  font-size: 1.5rem;
  @include mq(sp) {
    font-size: 1.2rem;
  }
}
.p-section__contents {
  margin-top: 2rem;
  background-color: var(--sub);
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  padding: 5%;

  .p-section:nth-of-type(2n) & {
    background-color: #fff;
  }
}
