// カラー
$color: (
  text: #5b4c38,
  accent: #f28119,
  hov-btn: rgba(255, 240, 228, 1),
);
// フォントファミリー
$font: (
  main-title: "001Shirokuma Regular",
  sub-title: "HanziPen SC Regular",
);
// レスポンシブ
$pc-camp: 1440;
$tab-camp: 768;
$sp-camp: 375;
