@charset "utf-8";
@use "base";

.bg-wrapper {
  position: relative;

  &:before {
    background: #3e3e3e;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 294px;
    width: 100%;

    @include base.mq(pc) {
      bottom: 138px;
      top: 146px;
      width: calc(980 / 1280 * 100%);
    }
  }
}
