@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;600&display=swap");
body {
  font-family: "ヒラギノ明朝 ProN", serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 1.6;
  background: #ffffff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.section {
  padding-top: 160px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 96px;
  }
}

.section__title {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  text-align: center;
  height: 56px;
  line-height: 1;
}
.section__title::after {
  content: "";
  background: #3ea1d1;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inner {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.main_button {
  text-align: center;
}
.main_button a {
  border: 1px solid #3ea1d1;
  display: inline-block;
  padding: 16px 54px;
  font-size: 14px;
  color: #3ea1d1;
  background: #ffffff;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_button a:hover {
  color: #ffffff;
  background: #3ea1d1;
}

.scaleup__img {
  overflow: hidden;
}
.scaleup__img img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.scaleup__img img:hover {
  scale: 1.2;
}

.link-hover-opacity {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link-hover-opacity:hover {
  opacity: 0.7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 70px;
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.header__logo {
  margin: 0;
  line-height: 1;
}
.header__logo img {
  width: 120px;
  vertical-align: top;
}
.header__logo a {
  text-decoration: none;
}

.header__nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  margin-right: 48px;
  height: 70px;
  text-align: center;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-item a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  transition: all 0.3s ease 0s;
  position: relative;
  height: inherit;
  padding-top: 27px;
}
.header__nav-item a:hover {
  color: #3ea1d1;
}

.drawer-hamburger {
  width: 30px;
  padding-top: 22px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .drawer-hamburger {
    display: none;
  }
}

.drawer-hamburger-icon,
.drawer-hamburger-icon::before,
.drawer-hamburger-icon::after {
  background-color: #3ea1d1;
}
@media screen and (max-width: 767px) {
  .drawer-hamburger-icon,
  .drawer-hamburger-icon::before,
  .drawer-hamburger-icon::after {
    background-color: #3ea1d1;
  }
}

.drawer-hamburger-icon::before {
  top: -8px;
}

.drawer-hamburger-icon::after {
  top: 8px;
}

.drawer-nav {
  width: 0.72;
  background: #3ea1d1;
  margin-top: 60px;
}

.drawer-menu li {
  text-align: right;
}
.drawer-menu li:first-child {
  padding-top: 26px;
}
.drawer-menu a {
  color: #fff;
  padding: 20px 15px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
}
.drawer--right.drawer-open .drawer-hamburger .drawer-hamburger-icon {
  height: 0;
}
.drawer--right.drawer-open .drawer-hamburger .drawer-hamburger-icon::before,
.drawer--right.drawer-open .drawer-hamburger .drawer-hamburger-icon::after {
  top: 0px;
  height: 2px;
}

.footer {
  padding: 48px 0 17px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 17px;
  }
}
.footer .footer__logo {
  text-align: center;
}
.footer .footer__logo a {
  display: inline-block;
  width: 120px;
  height: auto;
}
.footer .footer__logo a img {
  width: 100%;
}
.footer .footer__links {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer .footer__links {
    display: block;
  }
}
.footer .footer__link {
  margin-right: 32px;
}
.footer .footer__link:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .footer .footer__link {
    text-align: center;
    margin-right: 0;
  }
  .footer .footer__link:last-child {
    margin-top: 8px;
  }
}
.footer .footer__link a {
  font-size: 12px;
  font-weight: 300;
}
.footer .footer__sns {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer .footer__sns {
    padding-top: 32px;
  }
}
.footer li {
  margin-right: 40px;
  width: 22px;
  height: 22px;
  text-align: center;
}
.footer li:last-child {
  margin-right: 0;
}
.footer li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 100%;
  height: inherit;
}
.footer li a:hover {
  opacity: 0.7;
}
.footer li i::before {
  color: #3ea1d1;
  font-size: 22px;
}
.footer .footer__copy {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
  color: #888888;
}
@media screen and (max-width: 767px) {
  .footer .footer__copy {
    margin-top: 22px;
  }
}

.main-visual__content {
  position: relative;
  height: inherit;
}

.main-visual__img {
  width: 82.5%;
  margin-left: auto;
  aspect-ratio: 990/660;
  min-height: 660px;
  background: url(../img/top.png) no-repeat top center/cover;
}
@media screen and (max-width: 767px) {
  .main-visual__img {
    width: 100%;
    aspect-ratio: 345/414;
    min-height: 414px;
    background: url(../img/sp/top.png) no-repeat top center/cover;
  }
}

.main-visual__messages {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 330px;
  max-width: 100%;
  height: 330px;
  z-index: calc(1 + 1);
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .main-visual__messages {
    position: static;
    -webkit-transform: none;
            transform: none;
    height: auto;
  }
}

.main-visual__message-main {
  padding-top: 92px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.6923076923;
}
@media screen and (max-width: 767px) {
  .main-visual__message-main {
    padding-top: 40px;
  }
}

.main-visual__message-sub {
  padding-top: 28px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .main-visual__message-sub {
    padding-top: 24px;
  }
}

.concept .concept__item {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .concept .concept__item {
    display: block;
    margin-top: 48px;
  }
}
.concept .concept__img {
  width: 50%;
}
.concept .concept__img img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .concept .concept__img {
    width: 100%;
  }
}
.concept .concept__body {
  width: 50%;
  padding-left: 80px;
}
@media screen and (max-width: 767px) {
  .concept .concept__body {
    width: 100%;
    padding-left: 0;
  }
}
.concept .concept__message-main {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  padding-top: 112px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .concept .concept__message-main {
    padding-top: 40px;
  }
}
.concept .concept__message-sub {
  font-weight: 300;
  color: #333333;
  padding-top: 48px;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .concept .concept__message-sub {
    padding-top: 32px;
  }
}

.feature__items {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature__items {
    display: block;
    margin-top: 48px;
  }
}

.feature__item {
  display: inline-block;
  width: calc(33.33333% - 60px);
  max-width: 340px;
  margin-right: 90px;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}
@media screen and (max-width: 767px) {
  .feature__item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 48px;
  }
  .feature__item:last-child {
    margin-bottom: 0;
  }
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__img img {
  width: 100%;
}

.feature__message {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  color: #333333;
  line-height: 1.6875;
  text-align: center;
}

.second-visual {
  width: 100%;
  height: 478px;
  margin-top: 160px;
}
@media screen and (max-width: 767px) {
  .second-visual {
    margin-top: 96px;
  }
}
.second-visual .second-visual__inner {
  margin: 0 auto;
  padding: 0;
}
.second-visual .second-visual__img {
  width: 100%;
  height: inherit;
  background: url(../img/bg.png) no-repeat top left/cover;
  position: relative;
}
.second-visual .second-visual__img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .second-visual .second-visual__img {
    margin-top: 96px;
    background: url(../img/sp/bg.png) no-repeat top left/cover;
  }
}
.second-visual .second-visual__message {
  width: 100%;
  height: inherit;
  padding-left: 40px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .second-visual .second-visual__message {
    padding-left: 15px;
    padding-right: 20px;
  }
}
.second-visual .second-visual__message-main {
  padding-top: 120px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6818181818;
}
@media screen and (max-width: 767px) {
  .second-visual .second-visual__message-main {
    padding-top: 182px;
    font-size: 20px;
    line-height: 1.7;
  }
}
.second-visual .second-visual__message-sub {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .second-visual .second-visual__message-sub {
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.products .products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 940px;
  max-width: 100%;
  margin: 64px auto;
}
@media screen and (max-width: 767px) {
  .products .products__items {
    display: block;
    margin-top: 48px;
  }
}
.products .products__item {
  width: calc(33.33333% - 53.3333333333px);
  max-width: 260px;
  margin-right: 80px;
  padding-bottom: 48px;
}
.products .products__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .products .products__item {
    width: 100%;
    margin: 0 auto;
  }
  .products .products__item:last-child {
    margin: 0 auto;
  }
}
.products .products__img img {
  width: 100%;
}
.products .products__message {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  line-height: 1.7142857143;
}
.products .products__price {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #989898;
  line-height: 1.7142857143;
}
.products .products__button {
  text-align: center;
}
.products .products__button a {
  border: 1px solid #3ea1d1;
  display: inline-block;
  padding: 16px 54px;
  font-size: 14px;
  color: #3ea1d1;
  line-height: 1;
  font-weight: 600;
}

.news .news__items {
  margin-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  margin-bottom: 64px;
}
@media screen and (max-width: 767px) {
  .news .news__items {
    margin-top: 48px;
    padding-right: 18px;
    padding-left: 18px;
  }
}
.news .news__item {
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .news__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .news .news__item-wrapper {
    display: block;
    padding-top: 0;
  }
}
.news .news__img {
  width: 260px;
}
@media screen and (max-width: 767px) {
  .news .news__img {
    width: 100%;
  }
}
.news .news__img img {
  width: 100%;
}
.news .news__content {
  width: calc(100% - 260px);
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .news .news__content {
    width: 100%;
    padding-top: 24px;
    padding-left: 0;
  }
}
.news .news__data {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  line-height: 1.7142857143;
}
.news .news__title {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  line-height: 1.7222222222;
}
.news .news__description {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #888888;
  line-height: 1.7142857143;
}

.third-visual .third-visual__item {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .third-visual .third-visual__item {
    margin-top: 96px;
    display: block;
  }
}
.third-visual .third-visual__img {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .third-visual .third-visual__img {
    width: 100%;
  }
}
.third-visual .third-visual__img img {
  width: 100%;
}
.third-visual .third-visual__body {
  width: 50%;
  padding-right: 80px;
}
@media screen and (max-width: 767px) {
  .third-visual .third-visual__body {
    width: 100%;
    padding-right: 0;
  }
}
.third-visual .third-visual__message-main {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  padding-top: 102px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .third-visual .third-visual__message-main {
    padding-top: 40px;
  }
}
.third-visual .third-visual__message-sub {
  font-weight: 300;
  color: #333333;
  padding-top: 48px;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .third-visual .third-visual__message-sub {
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.contact {
  margin-top: 225px;
  padding-top: 72px;
  padding-bottom: 85px;
  background: url(../img/contact.png) no-repeat top left/cover;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding-top: 57px;
    padding-bottom: 57px;
  }
}

.contact__inner {
  padding-left: 28px;
  padding-right: 28px;
}

.contact__head {
  color: #3ea1d1;
}

.contact-form {
  width: 512px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contact-form {
    width: 100%;
    padding-left: -15px;
    padding-right: -15px;
  }
}

.contact-form__message {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 24px;
  font-size: 14px;
}
.contact-form__message span {
  color: #e7728e;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .contact-form__message {
    padding-top: 33px;
    padding-bottom: 32px;
    font-weight: 600;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}
.contact-form__row:last-child {
  margin-bottom: 0;
}

.contact-form__label {
  width: 172px;
  display: inline-block;
  height: 40px;
  margin: 0;
  padding-top: 11px;
  background: rgba(62, 161, 209, 0.7019607843);
  color: #ffffff;
  position: relative;
  text-align: center;
}
.contact-form__label::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -7px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent rgba(62, 161, 209, 0.7019607843);
}
@media screen and (max-width: 767px) {
  .contact-form__label {
    width: auto;
    padding-left: 15px;
    padding-right: 27px;
    position: static;
    padding-top: 8px;
  }
}
.contact-form__label label {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .contact-form__label label {
    font-size: 14px;
  }
}
.contact-form__label label.is-required {
  position: relative;
}
.contact-form__label label.is-required::after {
  content: "＊";
  position: absolute;
  top: 0;
  right: -12px;
  font-size: 12px;
  color: #e7728e;
}

.contact-form__input {
  width: calc(100% - 180px);
  height: 40px;
  margin-left: 18px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 3px;
    margin-left: 0;
  }
}
.contact-form__input [type=text] {
  height: inherit;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
}
.contact-form__input [type=email] {
  height: inherit;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
}
.contact-form__input textarea {
  height: 122px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
}
.contact-form__input [type=radio] {
  display: none;
}
.contact-form__input [type=radio]:checked + span {
  background: #3ea1d1;
  color: #fff;
}
.contact-form__input .contact-form__input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  width: 160px;
  height: 40px;
}
.contact-form__input span {
  display: inline-block;
  width: 79px;
  padding: 11px 22px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
  margin: 0;
  font-family: inherit;
  color: rgba(62, 161, 209, 0.7019607843);
  background: #fff;
  line-height: 1;
  border-radius: 1px;
  cursor: pointer;
}

.contact-form__check {
  margin-top: 116px;
  text-align: center;
}
.contact-form__check [type=checkbox] {
  display: none;
}
.contact-form__check span {
  cursor: pointer;
  display: inline-block;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}
.contact-form__check span::before {
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #fff;
}
.contact-form__check span::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.contact-form__check span a {
  color: #3ea1d1;
  text-decoration: underline;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form__check span a:hover {
  opacity: 0.7;
}
.contact-form__check [type=checkbox]:checked + span::after {
  top: -7px;
  left: -5px;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact-form__button {
  display: block;
  margin: 50px auto 0;
  border: 1px solid #3ea1d1;
  text-align: center;
  width: 140px;
}
@media screen and (max-width: 767px) {
  .contact-form__button {
    margin-top: 29px;
  }
}
.contact-form__button [type=submit] {
  width: 100%;
  display: inline-block;
  padding: 16px 54px;
  font-size: 14px;
  color: #3ea1d1;
  background: #ffffff;
  line-height: 1;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.contact-form__button.full-inputs [type=submit] {
  color: #ffffff;
  background: #3ea1d1;
}