<!-- prettier-ignore -->
<%_
_%>

<div id="js-success" class="p-contact__message--success">
  <p>
    送信完了しました。
    <br />ありがとうございました。 <br />3営業日以内にご返信いたします。
  </p>
</div>
<div id="js-error" class="p-contact__message--error">
  <p>
    送信に失敗しました。
    <br />ページを更新して再度送信してください。
  </p>
</div>
