<!-- prettier-ignore -->
<%_
const title = "Pumi's Portfolio";
const description = "WEBコーダーpumiのポートフォリオサイトです。";
_%>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- nodndexの記載 -->
  <meta name="robots" content="noindex" />
  <!-- twitterｶｰﾄﾞ,OGP -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@pumiWebcoder" />
  <meta property="og:url" content="https://pumiwebcoder.xsrv.jp/" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="./img/OGP.webp" />
  <!-- <meta property="og:image" content="./img/favicon.webp" /> -->
  <!-- <link rel="icon" href="./img/favicon.webp" type="image/png" /> -->

  <!-- title,description -->
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <!-- GoogleFonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&amp;family=Oswald:wght@400;500&amp;display=swap" rel="stylesheet" />

  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" defer></script>
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="./assets/js/slider.js" defer></script>
  <!-- wow.jsはwow().initより先に実行する必要があるので、deferを外す -->
  <link rel="stylesheet" href="./assets/css/animate.css" />
  <!-- css読み込み -->
  <link rel="stylesheet" href="./assets/css/style.css" />

  <!-- JavaScript読み込み -->
  <script src="./assets/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  <script src="./assets/js/dialog.js" defer></script>
  <script src="./assets/js/contact-html.js" defer></script>
  <script src="./assets/js/script.js" defer></script>
  <!-- 優先表示画像の事前読込 -->
  <link rel="preload" href="./assets/img/img_fv.jpg" as="image" />
</head>
