@use "../global" as *;

/* 全体のレイアウト */
.l-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* メインコンテンツのスタイル */
.l-main-content {
  flex: 1;
  padding: 20px;
}

/* サイドバーのスタイル */
.l-sidebar-content {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 1px solid #e1e1e1;
}
