@use "../global" as *;

.p-bg {
  background: url(./assets/img/img_fv.webp) top center / cover no-repeat;
  position: fixed;
  top: var(--height-pc-header);
  height: calc(100vh - var(--height-pc-header));
  @include mq(sp) {
    top: var(--height-sp-header);
    height: calc(100vh - var(--height-sp-header));
  }

  right: 0;
  width: 100%;
  z-index: -1;
}
