@use "sass:map";
@use "../global" as *;

//privacy policyはinput要素の次にspan要素が来ないので、専用のCSS
.p-contact__form--item-privacy input[type="checkbox"] {
  // 標準のラジオボタンを以下５行で非表示
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.privacy-span.checked,
.privacy-span.hover,
.privacy-span.active,
.privacy-span.focus {
  // チェック時にボーダー色を変更
  &::before {
    border-color: var(--main);
  }
}
.privacy-span.checked {
  // チェック時にチェック時マークを表示
  &::after {
    opacity: 1;
  }
}

.privacy-span {
  // ボタン横の文字
  font-size: size-calc-clamp(12, 14, 375, 1440);
  // ボタンの場所
  padding-left: calc(24px + 8px);
  position: relative;

  // ボタン枠
  &::before {
    // ボタン枠の配置場所
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #f6f6f6;
    border: 1px solid transparent;
    // チェックボックス枠のレイアウト
    width: 24px;
    height: 24px;
  }
  // チェックマーク（ポチ丸・✓）
  &::after {
    // チェックマークの配置
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    opacity: 0; // 非チェック時はポチ丸が透明
    // チェック時マーク（✓）
    width: 13px;
    height: 8px;
    border-bottom: solid 2px var(--main);
    border-left: solid 2px var(--main);
    transform: translateY(-70%) rotate(-45deg);
  }
}
