@use "../global" as *;

.p-drawer__nav {
  @include mq(tab-pc) {
    display: none;
  }

  position: fixed;
  width: 100%;
  height: calc(100vh - var(--height-sp-header));
  top: var(--height-sp-header);
  right: -100%;
  z-index: var(--layer-drawer);
  transition: 0.5s;
  text-align: center;
  background: var(--header-bg-pc);
  padding-inline: 15px;
  .drawer-open & {
    right: 0;
  }
}

.p-drawer__nav--item {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-weight: 400;

  &:first-child {
    margin-top: 40px;
  }
}

.p-drawer__nav--link {
  text-align: center;
  padding: 0.75rem;
  // text-transform: uppercase;
}
