@use "../global" as *;

.p-footer {
  background: var(--drawer-bg-sp);
}

.p-footer__contents {
  display: grid;
  place-items: center;
  height: var(--height-pc-footer);
  @include mq(sp) {
    height: var(--height-sp-footer);
  }
}

.p-footer__copyright {
  color: white;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  @include mq(sp) {
    font-size: 16px;
  }
}
