@use "../global" as *;

.p-header {
  width: 100%;
  transition: 0.5s;
  color: white;
  background: var(--header-bg-pc);
  @include mq(sp) {
    background: blue;
  }
}
.p-header__logo {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
  letter-spacing: 0.12em;
  font-size: size-calc-clamp(16, 30, 375, 1440);
  @include mq(sp) {
    line-height: 1.2;
  }
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
.p-header__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header__nav {
  @include mq(sp) {
    display: none;
  }
}
.p-header__nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-header__nav--item {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
}

.p-header__nav--link {
  padding: 0.2rem 1rem;
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
