@use "../global" as *;

.p-btn-modal {
  width: 200px;
  font-weight: 700;
  // モーダル表示時にボタン枠が変わってしまうので初期化
  outline: none;
}
.p-modal__buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: size-calc-clamp(10, 40, 375, 1440);
  @include mq(sp) {
    flex-direction: column;
  }
}
