@use "../global" as *;

.p-to-top {
  position: fixed;
  right: size-calc-clamp(20, 30, 375, 1440);
  bottom: size-calc-clamp(20, 30, 375, 1440);
  width: size-calc-clamp(50, 75, 375, 1440);
  height: size-calc-clamp(50, 75, 375, 1440);
  z-index: var(--layer-totop);
  pointer-events: none;
  transition: opacity 0.5s;
  opacity: 0;

  .is-scroll & {
    pointer-events: auto;
    opacity: 1;
  }
  .drawer-open & {
    opacity: 0;
  }
  a {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
