@use "../global" as *;

.p-works__contents {
  // bulletの配置分多めにpaddingとる
  padding: 5% 5% 8%;
  position: relative;
}
.p-works__explanation {
  margin-top: 2rem;
  font-size: 1.5rem;
  @include mq(sp) {
    padding-inline: 1rem;
  }
  p + p {
    margin-top: 1rem;
  }
}
