@charset "UTF-8";
/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/
/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/
/*
メディアクエリ
_mixin.scss ファイル
*/
/*  scssへ記述  */
.btn__link {
  display: block;
  padding: 7px 29px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #f28119;
  transition: all 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.btn__arrow {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #f28119;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
          transform: translate(-70%, -50%) rotate(45deg);
}

.btn__text {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.004em;
}

.a-btn--bgc-slide {
  position: relative;
  overflow: hidden;
}
.a-btn--bgc-slide::before {
  content: "";
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(255, 240, 228);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.a-btn--bgc-slide:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.steps::before {
  -webkit-animation: stepsline 4s steps(10) forwards;
          animation: stepsline 4s steps(10) forwards;
  height: 240px;
  background: url("../img/bg_top-blog_steps.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .steps::before {
    width: 741px;
    -webkit-animation: stepsline 2s steps(10) forwards;
            animation: stepsline 2s steps(10) forwards;
  }
}
@media screen and (min-width: 2000px) {
  .steps::before {
    display: none;
  }
}

@-webkit-keyframes stepsline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -7410px 0;
  }
}

@keyframes stepsline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -7410px 0;
  }
}
@font-face {
  font-family: "001Shirokuma Regular";
  src: url(../../font/001Shirokuma-Regular.otf);
}
@font-face {
  font-family: "HanziPen SC Regular";
  src: url(../../font/hanzipen-sc-regular.otf);
}
.header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  height: 179px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .header {
    overflow: visible;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 111px;
  }
}

.header__upper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 118px;
  height: 138px;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 34px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__logo:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 137px;
    height: 55px;
    top: 7px;
  }
}

header__logo--link {
  width: inherit;
  height: inherit;
}

.header__info {
  margin-top: 20px;
  margin-right: -40px;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .header__info {
    display: none;
  }
}

.header__address {
  color: #5b4c38;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -7px;
}

.header__tel--icon {
  width: 57px;
  height: 57px;
  margin-top: -2px;
}

.header__tel--number {
  color: #5b4c38;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px; /* 162.5% */
  margin-left: -3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__tel--number:hover {
  opacity: 0.5;
}

.header__nav {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 14px;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -14px;
  gap: 82px;
}
@media screen and (max-width: calc(1500px - 100px * 1)) {
  .header__nav--list {
    gap: calc(82px - 10px * 1);
  }
}
@media screen and (max-width: calc(1500px - 100px * 2)) {
  .header__nav--list {
    gap: calc(82px - 10px * 2);
  }
}
@media screen and (max-width: calc(1500px - 100px * 3)) {
  .header__nav--list {
    gap: calc(82px - 10px * 3);
  }
}
@media screen and (max-width: calc(1500px - 100px * 4)) {
  .header__nav--list {
    gap: calc(82px - 10px * 4);
  }
}

.header__nav--item {
  width: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav--item:hover {
  opacity: 0.5;
}
.header__nav--item:nth-child(4) {
  margin-left: 188px;
}
@media screen and (max-width: calc(1500px - 100px * 1)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 1);
  }
}
@media screen and (max-width: calc(1500px - 100px * 2)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 2);
  }
}
@media screen and (max-width: calc(1500px - 100px * 3)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 3);
  }
}
@media screen and (max-width: calc(1500px - 100px * 4)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 4);
  }
}

.header__nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav--icon {
  width: 37px;
  height: 37px;
  margin-left: 8px;
}

.header__nav--main-text {
  color: #5b4c38;
  text-align: center;
  width: 58px;
  height: 16px;
  margin-top: -2px;
  margin-left: 2px;
}
.header__nav--item:nth-child(1) .header__nav--main-text, .header__nav--item:nth-child(5) .header__nav--main-text {
  width: 45px;
  margin-left: 9px;
}

.header__nav--sub-text {
  color: #f28119;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-top: 6px;
}
.header__nav--item:nth-child(1) .header__nav--sub-text, .header__nav--item:nth-child(4) .header__nav--sub-text, .header__nav--item:nth-child(5) .header__nav--sub-text {
  margin-left: 1px;
}

.header__hamburger--button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__hamburger--button {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 30px;
    height: 50px;
    z-index: 2;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
  }
  .is-rotate .header__hamburger--button {
    opacity: 1;
    pointer-events: auto;
  }
  .header__hamburger--button::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -2px;
    color: #f28119;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    font-weight: 500;
    line-height: 22px; /* 220% */
    content: "MENU";
  }
  .drawer-open .header__hamburger--button::after {
    content: "CLOSE";
  }
}
@media screen and (max-width: 767px) {
  .header__hamburger--button {
    opacity: 1;
    pointer-events: auto;
  }
}

.drawer-bar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: #f28119;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.drawer-bar:nth-child(1) {
  top: calc(-7px + 12px * 1);
}
.drawer-bar:nth-child(2) {
  top: calc(-7px + 12px * 2);
}
.drawer-bar:nth-child(3) {
  top: calc(-7px + 12px * 3);
}
.drawer-open .drawer-bar {
  width: 40px;
  top: 17px;
  right: -4px;
}
.drawer-open .drawer-bar:nth-child(1) {
  -webkit-transform: rotate(calc(-45deg + 90deg * 1));
          transform: rotate(calc(-45deg + 90deg * 1));
}
.drawer-open .drawer-bar:nth-child(2) {
  -webkit-transform: rotate(calc(-45deg + 90deg * 2));
          transform: rotate(calc(-45deg + 90deg * 2));
}
.drawer-open .drawer-bar:nth-child(3) {
  -webkit-transform: rotate(calc(-45deg + 90deg * 3));
          transform: rotate(calc(-45deg + 90deg * 3));
}

.header__tree--left,
.header__tree--right {
  pointer-events: none;
  height: 190px;
}
@media screen and (max-width: 1200px) {
  .header__tree--left,
  .header__tree--right {
    height: 150px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--left,
  .header__tree--right {
    height: 95px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .header__tree--left,
  .header__tree--right {
    display: none;
  }
}

.header__tree--left {
  margin-right: auto;
  width: 265px;
}
@media screen and (max-width: 1200px) {
  .header__tree--left {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--left {
    width: 132px;
  }
}

.header__tree--right {
  width: 261px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .header__tree--right {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--right {
    width: 130px;
  }
  .is-rotate .header__tree--right {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 100px;
  }
}

.header__reserve-btn--list {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__reserve-btn--list {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 4px;
    padding-inline: 10px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.drawer__reserve-btn--list {
  display: none;
}
@media screen and (max-width: 1024px) {
  .drawer__reserve-btn--list {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__reserve-btn--item {
  width: 174px;
  height: 46px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.header__reserve-btn--item:hover {
  opacity: 0.5;
}
.header__reserve-btn--item.btn-orange {
  background: #f28119;
}
.header__reserve-btn--item.btn-blue {
  background: #0462be;
}

.drawer__reserve-btn--item {
  width: 275px;
  height: 59px;
  border-radius: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.drawer__reserve-btn--item:hover {
  opacity: 0.5;
}
.drawer__reserve-btn--item.btn-orange {
  background: #f28119;
}
.drawer__reserve-btn--item.btn-blue {
  background: #0462be;
}

.header__reserve-btn--link {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer__reserve-btn--link {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__reserve-btn--item-icon {
  display: grid;
  place-items: center;
}
.btn-blue .header__reserve-btn--item-icon {
  margin-left: 13px;
}
.btn-orange .header__reserve-btn--item-icon {
  margin-left: 21px;
}

.drawer__reserve-btn--item-icon {
  display: grid;
  place-items: center;
}

.header__reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.btn-blue .header__reserve-btn--item-text {
  width: 98px;
  margin-left: 8px;
}
@media screen and (max-width: 374px) {
  .btn-blue .header__reserve-btn--item-text {
    margin-left: 4px;
  }
}
.btn-orange .header__reserve-btn--item-text {
  width: 84px;
  margin-left: 13px;
}

.drawer__reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 18.232px; /* 91.16% */
  text-align: center;
}
.btn-orange .drawer__reserve-btn--item-text {
  margin-left: 27px;
  padding-right: 34px;
}
.btn-blue .drawer__reserve-btn--item-text {
  margin-left: 14px;
  padding-right: 30px;
}

.drawer__nav {
  display: none;
}
@media screen and (max-width: 1024px) {
  .drawer__nav {
    display: block;
    position: fixed;
    z-index: 40;
    top: 0;
    background: #fffcd5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 90%;
    height: 513px;
    margin-top: 60px;
    right: calc(-1 * (90% + 1px));
  }
  .drawer-open .drawer__nav {
    right: 0;
  }
}

.drawer__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drawer__nav--link {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.drawer__nav--link:hover {
  opacity: 0.5;
}

.drawer__nav--main-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px; /* 211.111% */
  padding-block: 10px;
}

.drawer__background {
  display: none;
}
@media screen and (max-width: 1024px) {
  .drawer__background {
    display: block;
    position: fixed;
    z-index: 39;
    top: 0;
    bottom: 0;
    background: transparent;
    right: -100%;
    width: 100%;
  }
  .drawer-open .drawer__background {
    right: 0;
  }
}

@font-face {
  font-family: "001Shirokuma";
  src: url("../font/001Shirokuma-Regular.otf") format("opentype");
}
.aside__reserve-btn--list {
  position: fixed;
  z-index: 1000;
  top: 190px;
  right: 0;
  z-index: 1000;
}
@media screen and (max-width: 1024px) {
  .aside__reserve-btn--list {
    display: none;
  }
}

.aside__reserve-btn--item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 130px;
  right: -30px;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
}
.aside__reserve-btn--item:hover {
  right: 0;
}
.aside__reserve-btn--item.btn-orange {
  background: #f28119;
  height: 250px;
  top: 0;
  padding-left: 33px;
  padding-top: 19px;
}
.aside__reserve-btn--item.btn-blue {
  background: #0462be;
  height: 280px;
  top: 256px;
  padding-top: 10px;
  padding-left: 13px;
}

.aside__reserve-btn--item-icon.btn-blue {
  padding-left: 16px;
}

.aside__reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3.9px;
}
.btn-orange .aside__reserve-btn--item-text {
  padding-left: 3px;
}
.btn-blue .aside__reserve-btn--item-text {
  line-height: 35px;
  padding-top: 2px;
}

@font-face {
  font-family: "001Shirokuma";
  src: url("../font/001Shirokuma-Regular.otf") format("opentype");
}
@font-face {
  font-family: "HanziPen SC Regular";
  src: url(../font/hanzipen-sc-regular-minify.woff);
}
/*===============
メディクリ
================*/
/*===============
 共通クラス
================*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #5b4c38;
}

.inner {
  padding: 0 20px;
}

@media screen and (max-width: 520px) {
  .sp-hidden {
    display: none;
  }
}

@media screen and (min-width: 520px) {
  .pc-hidden {
    display: none;
  }
}

@media (min-width: 1200px) {
  .greeting-pc-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  .greeting-sp-hidden {
    display: none;
  }
}

.btn__font {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.time__font {
  font-family: "Inter", sans-serif;
}

/*===============
 fv
================*/
.top-fv {
  margin-top: 179px;
}
@media screen and (max-width: 1024px) {
  .top-fv {
    margin-top: 111px;
  }
}

.splide__slide {
  position: relative;
  height: auto;
  width: 100%;
}

.splide__arrow {
  display: none;
}

.splide__pagination__page {
  display: none;
}

.top-fv__text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 767px) {
  .top-fv__text {
    top: 56%;
  }
}
@media (min-width: 768px) {
  .top-fv__text {
    bottom: 25px;
    left: 30%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .top-fv__text {
    bottom: 46%;
  }
}
@media screen and (min-width: 1025px) {
  .top-fv__text {
    font-size: 20px;
    left: 32%;
    bottom: 25px;
  }
}
@media screen and (min-width: 1270px) {
  .top-fv__text {
    left: 34%;
    font-size: 32px;
    line-height: 1.6;
  }
}

.time-table {
  background-color: #fff;
  padding: 28px;
  border-radius: 40px;
}
.time-table .footer__week {
  margin-inline: auto;
}
.time-table .footer__atention {
  text-align: left;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 1025px) {
  .time-table {
    position: absolute;
    bottom: -104px;
    right: 108px;
  }
}
@media screen and (min-width: 1270px) {
  .time-table {
    right: 10%;
  }
}

/*===============
 news
================*/
.top-news-container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .top-news-container {
    position: relative;
    padding: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    gap: 40px;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .top-news-container {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1210px) {
  .top-news-container {
    margin-top: 22px;
  }
}

.top-news__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  font-family: "001Shirokuma", sans-serif;
}
@media (max-width: 767px) {
  .top-news__ja-title {
    margin-top: 30px;
    text-align: center;
  }
}

.top-news__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  font-family: "HanziPen SC Regular";
  text-align: center;
}

@media (max-width: 767px) {
  .top-news-contents {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.top-news__news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-news__news + .top-news__news {
  padding-top: 12px;
}

.top-news__date {
  padding-right: 27px;
  color: #f28119;
  font-size: 16px;
  font-weight: 500;
  line-height: 2; /* 200% */
}
@media screen and (max-width: 500px) {
  .top-news__date {
    display: block;
  }
}

.top-news__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  position: relative;
}
.top-news__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #5b4c38;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.top-news__text:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.top-news__btn {
  margin-top: 30px;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .top-news__btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.top-fv__wave {
  margin-top: -24px;
  position: relative;
  z-index: 2;
}

/*===============
 medical-menu
================*/
.top-medical-menu {
  margin-top: -24px;
}

.top-medical-menu__inner {
  overflow: hidden;
}

.top-medical-menu-img {
  position: relative;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  z-index: -1;
}
.top-medical-menu-img img {
  position: absolute;
}
.top-medical-menu-img img::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
}

.top-medical-menu__ja-title {
  padding-top: 60px;
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  font-family: "001Shirokuma", sans-serif;
}

.top-medical-menu__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  font-family: "HanziPen SC Regular";
  text-align: center;
}

.top-medical-menu__contents {
  display: grid;
  place-items: center;
  max-width: 886px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 40px 40px;
}
@media (min-width: 768px) {
  .top-medical-menu__contents {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .top-medical-menu__contents {
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
  }
}

.top-medical-menu__contents-text {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .top-medical-menu__contents-text {
    text-align: left;
  }
}

.top-medical-menu__contents-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
.top-medical-menu__contents-container:first-child .top-medical-menu__contents-img {
  background: #f28119;
}
.top-medical-menu__contents-container:first-child .top-medical-menu__contents-title {
  color: #f28119;
}
.top-medical-menu__contents-container:nth-child(2) .top-medical-menu__contents-img {
  background: #f09392;
}
.top-medical-menu__contents-container:nth-child(2) .top-medical-menu__contents-title {
  color: #f09392;
}
.top-medical-menu__contents-container:nth-child(3) .top-medical-menu__contents-img {
  background: #84c6ec;
}
.top-medical-menu__contents-container:nth-child(3) .top-medical-menu__contents-title {
  color: #84c6ec;
}
.top-medical-menu__contents-container:nth-child(4) .top-medical-menu__contents-img {
  background: #8fd97b;
}
.top-medical-menu__contents-container:nth-child(4) .top-medical-menu__contents-title {
  color: #8fd97b;
}

.top-medical-menu__contents-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  width: 137px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}
.top-medical-menu__contents-img img {
  width: 112px;
  height: 94px;
  vertical-align: middle;
  text-align: center;
}

.top-medical-menu__contents-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  margin-top: 14px;
}

/*===============
 greeting
================*/
.top-greeting__inner {
  margin-top: 80px;
}

.top-greeting__texts {
  margin-top: 80px;
  text-align: center;
}

.top-greeting__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  font-family: "001Shirokuma", sans-serif;
}

.top-greeting__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  font-family: "HanziPen SC Regular";
}

.top-greeting__contents {
  padding-top: 80px;
}
@media (min-width: 1200px) {
  .top-greeting__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.top-greeting__contents-img {
  margin-top: 160px;
  text-align: center;
  position: relative;
}
@media (max-width: 1199px) {
  .top-greeting__contents-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }
  .top-greeting__contents-img::before {
    position: absolute;
    content: "";
    top: -50px;
    left: -24px;
    width: 120px;
    height: 150px;
    background: url(../img/greeting-deco-clover.png) no-repeat center center/contain;
  }
}
.top-greeting__contents-img::after {
  position: absolute;
  content: "";
  bottom: 50px;
  right: -50px;
  width: 123px;
  height: 123px;
  background: url(../img/greeting-deco-giraffe.png) no-repeat center center/contain;
  -webkit-animation: swing 4s infinite ease-in-out;
          animation: swing 4s infinite ease-in-out;
}
@media (max-width: 1199px) {
  .top-greeting__contents-img::after {
    width: 90px;
    height: 90px;
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  90% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
  95% {
    -webkit-transform: rotate(-9deg) translateY(-10px);
            transform: rotate(-9deg) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  90% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
  95% {
    -webkit-transform: rotate(-9deg) translateY(-10px);
            transform: rotate(-9deg) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-9deg) translateY(0px);
            transform: rotate(-9deg) translateY(0px);
  }
}
.top-greeting__contents-texts {
  position: relative;
}
@media (min-width: 1200px) {
  .top-greeting__contents-texts::before {
    position: absolute;
    content: "";
    top: 0;
    left: -160px;
    width: 200px;
    height: 230px;
    background: url(../img/greeting-deco-clover.png) no-repeat center center/contain;
  }
}

.top-greeting__contents-title {
  color: #5b4c38;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  margin: 30px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1200px) {
  .top-greeting__contents-title {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
  }
}

.top-greeting__contents-sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  margin: 40px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}

.top-greeting__contents-sub-title-sentence2 {
  white-space: nowrap;
}
@media screen and (max-width: 374px) {
  .top-greeting__contents-sub-title-sentence2 {
    white-space: normal;
  }
}

@media screen and (min-width: 375px) {
  .max375-hidden {
    display: none;
  }
}

.top-greeting__contents-btn {
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .top-greeting__contents-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

/*===============
 point
================*/
.top-point {
  padding-top: 72px;
}

.top-point-deco-top img {
  vertical-align: bottom;
}

.top-point__inner {
  background: #f9f8f3;
  padding-top: 80px;
}
@media screen and (min-width: 767px) {
  .top-point__inner {
    position: relative;
  }
  .top-point__inner::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -15px;
    width: 242px;
    height: 300px;
    background: url(../img/point-deco-tree.png) no-repeat center center/contain;
  }
}

.top-point__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  font-family: "001Shirokuma", sans-serif;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 80px;
  margin: 0 auto;
  position: relative;
}
.top-point__ja-title::after {
  position: absolute;
  content: "";
  right: -92px;
  bottom: -6px;
  width: 71px;
  height: 62px;
  background: url(../img/point-deco-clover.png) no-repeat center center/contain;
  -webkit-animation: swing-clover linear 5s infinite;
          animation: swing-clover linear 5s infinite;
}
@-webkit-keyframes swing-clover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes swing-clover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media (max-width: 767px) {
  .top-point__ja-title::after {
    right: -56px;
    width: 52px;
    height: 45px;
  }
}

.top-point__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  font-family: "HanziPen SC Regular";
  text-align: center;
}

.top-point__contents {
  display: grid;
  place-items: center;
  gap: 45px;
  row-gap: 60px;
  padding-bottom: 48px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .top-point__contents {
    gap: 120px;
  }
}
@media (min-width: 768px) {
  .top-point__contents {
    max-width: 760px;
  }
}
@media (min-width: 1200px) {
  .top-point__contents {
    margin-top: 90px;
    max-width: 1000px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
.top-point__contents .top-point__contents-item {
  max-width: 432px;
}
@media (min-width: 768px) {
  .top-point__contents .top-point__contents-item:nth-child(1) {
    grid-column: 1/4;
    width: 100%;
  }
  .top-point__contents .top-point__contents-item:nth-child(2) {
    grid-column: 4/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(3) {
    grid-column: 1/4;
  }
  .top-point__contents .top-point__contents-item:nth-child(4) {
    grid-column: 4/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(5) {
    grid-column: 3/5;
  }
}
@media (min-width: 1200px) {
  .top-point__contents .top-point__contents-item:nth-child(1) {
    grid-column: 1/3;
  }
  .top-point__contents .top-point__contents-item:nth-child(2) {
    grid-column: 3/5;
  }
  .top-point__contents .top-point__contents-item:nth-child(3) {
    grid-column: 5/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(4) {
    grid-column: 1/4;
  }
  .top-point__contents .top-point__contents-item:nth-child(5) {
    grid-column: 4/7;
  }
}

.top-point__contents-img {
  text-align: center;
  position: relative;
}
.top-point__contents-img img {
  width: 233px;
  aspect-ratio: 233/233;
}
.top-point__contents-img::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
}

.point-img1::before {
  background: url(../img/point-num1.png) no-repeat center center/contain;
  top: -50px;
  left: 0;
}
@media (max-width: 767px) {
  .point-img1::before {
    left: -50px;
  }
}
@media (min-width: 1200px) {
  .point-img1::before {
    left: -12px;
  }
}

.point-img2::before {
  top: -50px;
  left: 0;
  background: url(../img/point-num2.png) no-repeat center center/contain;
}
@media (max-width: 767px) {
  .point-img2::before {
    left: -50px;
  }
}
@media (min-width: 768px) {
  .point-img2::before {
    left: -40px;
  }
}

.point-img3::before {
  background: url(../img/point-num3.png) no-repeat center center/contain;
  left: 0;
  top: -46px;
}
@media (max-width: 767px) {
  .point-img3::before {
    left: -27px;
    top: -50px;
  }
}
@media (min-width: 768px) {
  .point-img3::before {
    top: -40px;
    left: -30px;
  }
}

.point-img4::before {
  background: url(../img/point-num4.png) no-repeat center center/contain;
  left: 0;
  top: -36px;
}
@media (max-width: 767px) {
  .point-img4::before {
    left: -37px;
  }
}
@media (min-width: 768px) {
  .point-img4::before {
    top: -28px;
    left: -32px;
  }
}
@media (min-width: 1200px) {
  .point-img4::before {
    top: 0;
    left: -60px;
  }
}

.point-img5::before {
  background: url(../img/point-num5.png) no-repeat center center/contain;
  left: 0;
  top: -36px;
}
@media (max-width: 767px) {
  .point-img5::before {
    left: -46px;
  }
}
@media (min-width: 768px) {
  .point-img5::before {
    top: -40px;
    left: -60px;
  }
}
@media (min-width: 1200px) {
  .point-img5::before {
    top: 0;
    left: -80px;
  }
}

.top-point__contents-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-top: 14px;
  position: relative;
}
.top-point__contents-title::before {
  position: absolute;
  content: "";
  background: url(../img/point-wave-deco.png) repeat center center/contain;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 140px;
}

.top-point__contents-text {
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.top-point-deco-bottom {
  margin-top: -3px;
}

.footprint {
  position: relative;
  margin-top: 60px;
}
.footprint::before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 0;
  top: -75%;
}
@media screen and (max-width: 1900px) {
  .footprint::before {
    top: -86%;
  }
}
@media screen and (max-width: 1600px) {
  .footprint::before {
    top: -100%;
  }
}
@media screen and (max-width: 1080px) {
  .footprint::before {
    top: -120%;
  }
}
@media (max-width: 767px) {
  .footprint::before {
    width: 100%;
    top: -92%;
  }
}
@media screen and (max-width: 540px) {
  .footprint::before {
    top: -125%;
  }
}

.swiper {
  width: 100%;
}
@media screen and (min-width: 2000px) {
  .swiper {
    display: none;
  }
}

.swiper-wrapper {
  width: 100%;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section__main-title {
  position: relative;
  font-family: "001Shirokuma";
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 0.9419444444;
}

.--clover-left::before {
  content: "";
  background: url(../img/ico_headding_clover@2x.png) no-repeat center/contain;
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-animation: swing-clover-blog linear 5s infinite;
          animation: swing-clover-blog linear 5s infinite;
}
@media (max-width: 767px) {
  .--clover-left::before {
    right: 96%;
  }
}

@-webkit-keyframes swing-clover-blog {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-50%) rotate(20deg);
            transform: translateY(-50%) rotate(20deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(-20deg);
            transform: translateY(-50%) rotate(-20deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
}

@keyframes swing-clover-blog {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-50%) rotate(20deg);
            transform: translateY(-50%) rotate(20deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(-20deg);
            transform: translateY(-50%) rotate(-20deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
}
.section__sub-title {
  text-transform: capitalize;
  color: #f28119;
  font-family: "HanziPen SC Regular";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.top-blog {
  margin-top: 80px;
}

.top-blog__inner {
  max-width: 680px;
  padding: 0;
}

.top-blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .top-blog__wrapper {
    gap: 60px;
  }
}

.top-blog__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
@media (max-width: 767px) {
  .top-blog__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-blog__item {
  max-width: 187px;
  text-align: center;
}

.top-blog__link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-blog__link:hover {
  opacity: 0.7;
}

.top-blog__text {
  margin-top: 12px;
}

.top-blog__date {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #f28119;
}

.top-blog__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
}

.footer {
  padding-top: 22px;
  padding-bottom: 61px;
  background-color: #f9f8f3;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  position: absolute;
  background: url("../img/bg_footer_grass@2x.png") no-repeat center center/contain;
  width: 100%;
  aspect-ratio: 160/33;
  bottom: max(-41px, -3vw);
}

.footer__inner {
  max-width: 1000px;
  position: relative;
  z-index: 1;
  padding: 0;
}

.footer__wrapper {
  margin: 0 auto;
  border-radius: 30px;
  padding: 30px 55px;
  background-color: #fff;
}
@media screen and (max-width: 1080px) {
  .footer__wrapper {
    padding: 60px 12px;
    width: 90%;
  }
}

.footer__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1080px) {
  .footer__title {
    width: 100%;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__map {
  width: 100%;
  height: auto;
  margin-top: 12px;
  max-width: min(100%, 468px);
}
@media screen and (max-width: 1080px) {
  .footer__map {
    margin-top: 0;
    aspect-ratio: 117/101;
    max-width: min(100%, 600px);
  }
}

.footer__details {
  margin-top: -30px;
}
@media screen and (max-width: 1080px) {
  .footer__details {
    margin-top: 40px;
    width: min(100%, 600px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .footer__details {
    width: auto;
  }
}

.footer__week {
  margin-top: 5px;
  border-collapse: collapse;
}
@media screen and (max-width: 1080px) {
  .footer__week {
    width: 34.7222222222vw;
  }
}
@media screen and (max-width: 440px) {
  .footer__week {
    margin-left: 5px;
  }
}
.footer__week tbody tr th:first-child {
  border-right: 10px solid transparent;
}
.footer__week tbody tr:not(:first-child) {
  font-family: "Inter", sans-serif;
}
.footer__week tbody tr:not(:first-child) th:first-child {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  padding-left: 23px;
}
@media screen and (max-width: 1080px) {
  .footer__week tbody tr:not(:first-child) th:first-child {
    font-size: 14px;
  }
}
.footer__week tbody tr td {
  text-align: center;
  padding: 6px 9px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
}
@media screen and (max-width: 1080px) {
  .footer__week tbody tr td {
    font-size: 16px;
  }
}
@media screen and (max-width: 376px) {
  .footer__week tbody tr td {
    padding: 6px 7px;
  }
}
.footer__week tbody tr td:has(.footer__week--text) {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125;
}
@media screen and (max-width: 1080px) {
  .footer__week tbody tr td {
    font-size: 14px;
  }
}
.footer__week tbody tr td:last-child {
  padding-right: 38px;
}
@media (max-width: 767px) {
  .footer__week tbody tr td:last-child {
    padding-right: 18px;
  }
}

.footer__week-top {
  background-color: #f28119;
}
.footer__week-top th {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
}
@media screen and (max-width: 1080px) {
  .footer__week-top th {
    font-size: 16px;
  }
}
.footer__week-top th:first-child {
  border-radius: 38px 0 0 38px;
  padding-left: 38px;
}
@media screen and (max-width: 1080px) {
  .footer__week-top th:first-child {
    padding-left: 18px;
  }
}
.footer__week-top th:last-child {
  border-radius: 0 38px 38px 0;
  padding-right: 38px;
  padding-left: 9px;
}
@media screen and (max-width: 1080px) {
  .footer__week-top th:last-child {
    padding-right: 38px;
  }
}
@media (max-width: 767px) {
  .footer__week-top th:last-child {
    padding-right: 18px;
  }
}

.footer__week--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}
@media screen and (max-width: 1080px) {
  .footer__week--text {
    font-size: 14px;
    white-space: normal;
    left: 35%;
  }
}

.footer__atention {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 11px;
  padding-right: min(11vw, 110px);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8571428571;
}
@media screen and (max-width: 380px) {
  .footer__atention {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 1080px) {
  .footer__atention {
    padding-left: 10px;
  }
}

.footer__tel {
  margin-top: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 1080px) {
  .footer__tel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 370px) {
  .footer__tel {
    margin-right: 14px;
  }
}

.footer__call-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
}

.footer__tel-number {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.625;
}
@media screen and (max-width: 1080px) {
  .footer__tel-number {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.1666666667;
  }
}

.footer__address {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}
@media screen and (max-width: 1080px) {
  .footer__address {
    text-align: right;
  }
}
@media screen and (max-width: 370px) {
  .footer__address {
    margin-right: 14px;
  }
}

.footer__address-text {
  text-align: left;
}
@media screen and (max-width: 1080px) {
  .footer__address-text {
    font-size: 14px;
  }
}

.footer__copyright {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin-top: 19px;
  display: block;
  text-align: center;
}