@use "../global" as *;

.c-logo {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
  letter-spacing: 0.12em;
  font-size: 30px;
  @include mq(sp) {
    font-size: 20px;
  }
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
