@use "../global" as *;

.c-btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 2px solid currentColor;
  border-radius: 2rem;
  background-image: var(--btn-image);
  box-shadow: 2px 3px 3px 0px black;
  width: revert;
  text-align: center;
  color: white;
  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
      transform: translateY(4px);
      box-shadow: revert;
    }
  }
}
