@use "../global" as *;

.c-logo {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
  letter-spacing: 0.12em;
  font-size: size-calc-clamp(20, 30, 375, 1440);
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
