.header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  // height: 179px;
  height: 171px;
  overflow: hidden; //枝をheader範囲内に収める（葉っぱを途切れさせる）
  @media screen and (max-width: 1200px) {
    overflow: visible; //初期値
  }
  @media screen and (max-width: 1024px) {
    height: 111px;
  }
}
.header__inner {
}
.header__upper-wrapper {
  display: flex;
}
.header__logo {
  // width: 118px;
  // height: 138px;
  width: 157px;
  height: 140.037px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  // top: 34px;
  top: 20px;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
  @media screen and (max-width: 1024px) {
    width: 137px;
    height: 55px;
    top: 7px;
  }
}
header__logo--link {
  width: inherit;
  height: inherit;
}
.header__info {
  margin-top: 20px;
  margin-right: -40px;
  text-align: right;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.header__address {
  color: #5b4c38;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  // font-family: "Yu Gothic", sans-serif;
}

.header__tel {
  display: flex;
  align-items: center;
  margin-top: -7px;
}

.header__tel--icon {
  width: 57px;
  height: 57px;
  margin-top: -2px;
}

.header__tel--number {
  color: #5b4c38;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px; /* 162.5% */
  margin-left: -3px;
  // font-family: "Yu Gothic", sans-serif;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}
.header__nav {
  @media screen and (max-width: 1024px) {
    display: none;
  }
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  bottom: 6px;
}
.header__nav--list {
  display: flex;
  justify-content: center;
  margin-left: -14px;
  gap: 82px;
  // 1400pxから100px減るごとにgapを82pxから10pxずつ減らす
  @for $i from 1 through 4 {
    @media screen and (max-width: calc(1500px - 100px * #{$i} )) {
      gap: calc(82px - 10px * #{$i});
    }
  }
}
.header__nav--item {
  width: 60px;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
  &:nth-child(4) {
    // キリン(118px)＆キリンの右間隔(70px)
    margin-left: 188px;
    // 1400pxから100px減るごとにmargin-leftを188pxから25pxずつ減らす
    @for $i from 1 through 4 {
      @media screen and (max-width: calc(1500px - 100px * #{$i} )) {
        margin-left: calc(188px - 25px * #{$i});
      }
    }
  }
}
.header__nav--container {
  display: flex;
  flex-direction: column;
}
.header__nav--icon {
  width: 37px;
  height: 37px;
  margin-left: 8px;
}
.header__nav--main-text {
  color: #5b4c38;
  text-align: center;
  width: 58px;
  height: 16px;
  margin-top: -2px;
  margin-left: 2px;
  // 4文字項目と3文字項目で設定値を変える
  .header__nav--item:nth-child(1) &,
  .header__nav--item:nth-child(5) & {
    width: 45px;
    margin-left: 9px;
  }
}
.header__nav--sub-text {
  color: #f28119;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-top: 6px;
  // ホーム・施設案内・ブログは1px右
  .header__nav--item:nth-child(1) &,
  .header__nav--item:nth-child(4) &,
  .header__nav--item:nth-child(5) & {
    margin-left: 1px;
  }
}
.header__hamburger--button {
  display: none;
  @media screen and (max-width: 1024px) {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 30px;
    height: 50px;
    z-index: 2;
    display: block;

    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    .is-rotate & {
      opacity: 1;
      pointer-events: auto;
    }

    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      color: #f28119;
      font-family: "Roboto Mono", monospace;
      font-size: 10px;
      font-weight: 500;
      line-height: 22px; /* 220% */
      content: "MENU";
      .drawer-open & {
        content: "CLOSE";
      }
    }
  }
  @media screen and (max-width: 767px) {
    opacity: 1;
    pointer-events: auto;
  }
}
.drawer-bar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: #f28119;
  border-radius: 1px;
  transition: 0.3s;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      top: calc(-7px + 12px * #{$i});
    }
  }

  .drawer-open & {
    width: 40px;
    top: 17px;
    right: -4px;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transform: rotate(calc(-45deg + 90deg * #{$i}));
      }
    }
  }
}
.header__tree--left,
.header__tree--right {
  pointer-events: none;
  height: 190px;
  @media screen and (max-width: 1200px) {
    height: 150px;
    margin-top: 20px;
  }
  @media screen and (max-width: 1024px) {
    height: 95px;
    margin-top: 8px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__tree--left {
  margin-right: auto; //info、tree--rightを右に寄せる
  width: 265px;
  @media screen and (max-width: 1200px) {
    width: 200px;
  }
  @media screen and (max-width: 1024px) {
    width: 132px;
  }
}
.header__tree--right {
  width: 261px;
  transition: 0.5s;
  @media screen and (max-width: 1200px) {
    width: 200px;
  }
  @media screen and (max-width: 1024px) {
    width: 130px;
    .is-rotate & {
      transform-origin: right top;
      transform: rotate(-90deg);
      margin-top: 100px;
    }
  }
}

.header__reserve-btn--list {
  display: none;
  @media screen and (max-width: 1024px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    padding-inline: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-direction: row-reverse;
  }
}
.drawer__reserve-btn--list {
  display: none;
  @media screen and (max-width: 1024px) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}

.header__reserve-btn--item {
  width: 174px;
  height: 46px;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 1;
  &:hover {
    opacity: 0.5;
  }
  &.btn-orange {
    background: #f28119;
    // padding-top: 1px;
  }
  &.btn-blue {
    background: #0462be;
    // padding-bottom: 2px;
  }
}

.drawer__reserve-btn--item {
  width: 275px;
  height: 59px;
  border-radius: 13px;
  transition: 0.5s;
  opacity: 1;
  &:hover {
    opacity: 0.5;
  }
  &.btn-orange {
    background: #f28119;
  }
  &.btn-blue {
    background: #0462be;
  }
}

.header__reserve-btn--link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer__reserve-btn--link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__reserve-btn--item-icon {
  display: grid;
  place-items: center;
  // .btn-blue & {
  //   margin-left: 13px;
  // }
  // .btn-orange & {
  //   margin-left: 21px;
  // }
}
.drawer__reserve-btn--item-icon {
  display: grid;
  place-items: center;
}
.header__reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;

  .btn-blue & {
    width: 98px;
    margin-left: 8px;
    @media screen and (max-width: 374px) {
      margin-left: 4px;
    }
  }
  .btn-orange & {
    width: 84px;
    margin-left: 13px;
  }
}
.drawer__reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 18.232px; /* 91.16% */
  text-align: center;
  .btn-orange & {
    margin-left: 27px;
    padding-right: 34px;
  }
  .btn-blue & {
    margin-left: 14px;
    padding-right: 30px;
  }
}

.drawer__nav {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    position: fixed;
    z-index: 40;
    top: 0;
    background: #fffcd5;
    transition: 0.5s;
    // ドロワーナビの幅は画面幅に比例させる
    width: 90%;
    height: 513px;
    margin-top: 60px;
    right: calc(-1 * (90% + 1px));
    .drawer-open & {
      right: 0;
    }
  }
}
.drawer__nav--list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drawer__nav--item {
}
.drawer__nav--link {
  display: inline-block;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}
.drawer__nav--main-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px; /* 211.111% */
  padding-block: 10px;
}

.drawer__background {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    position: fixed;
    z-index: 39;
    top: 0;
    bottom: 0;
    background: transparent;
    right: -100%;
    width: 100%;
    .drawer-open & {
      right: 0;
    }
  }
}
