@use "sass:map";
@use "../global" as *;

.footer {
  color: white;
  background: var(--Gray01, #565956);
}
// 横幅調整＆4リンクを囲むボックス
.footer__inner {
  max-width: 1440px;
  margin-inline: auto;
  // padding-block: 56px 32px;
  padding-block: 58px 32px;
  padding-inline: calc(20px + ((100vw - 1024px) / (1440 - 1024)) * (130 - 20));
  @include mq(tab) {
    padding-inline: 130px;
  }
  // ４つのうち１つのみ要素の縦横が異なるので(ABOUT)、一列で並べる時はflexにする
  @include mq(sp) {
    padding-block: 32px;
    padding-inline: 16px;
  }
}
.footer__links {
  // padding: 56px 130px 32px 130px;

  // 縦４、横１のグリッド
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  // ４つのうち１つのみ要素の縦横が異なるので(ABOUT)、一列で並べる時はflexにする
  display: flex;
  justify-content: space-between;
  // 縦２、横２のグリッド
  @include mq(tab) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // 縦24px、横72pxのグリッド
    gap: 24px 72px;
  }
  // ４つのうち１つのみ要素の縦横が異なるので(ABOUT)、一列で並べる時はflexにする
  @include mq(sp) {
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    // gap: 48px;
    // padding-block: 32px;
    // padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}

// headとbodyを囲む4つのボックス
// .footer__link--container {
// }

.footer__link--head {
  @include font(20, 600, 30, 0.8);
  font-family: Jost;
  // padding-bottom: 9px;
  padding-bottom: 6.4px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72.028px;
    height: 1px;
    background: #fff;
  }
  @include mq(sp) {
    padding-bottom: 8px;
  }
}

.footer__link--body {
  // font-family: "Noto Sans JP";
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

// .footer__link--item {
// }

.footer__sns-list {
  margin-top: 72px;
  display: flex;
  gap: 20px;
  align-items: center;
}

// .footer__sns-item {
// }

.fa-brands {
  display: block;
  width: 32px;
  text-align: center;
}

.fa-instagram {
  font-size: 30px;
}

.fa-twitter {
  font-size: 26px;
}

.fa-facebook-f {
  font-size: 18px;
}

.footer__message {
  margin-top: 72px;
  @include font(12, 700, 18, 0.48);
}

.footer__copy {
  display: inline-block;
  margin-top: 16px;
  @include font(10, 500, 15, 0.4);
}
